body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #ff8c00;
  user-select: none;
  overflow-y: hidden;
}
#dice {
  font-size: 100px;
  margin: 20px;
  transition: transform 0.3s;
}
#dice.roll {
  transform: rotate(360deg);
}
#result {
  font-size: 24px;
  margin: 20px;
  font-weight: bold;
}
#score {
  font-size: 18px;
  margin-top: 10px;
}
button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background: #4caf50;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  border: 2px solid transparent;
}
button:hover {
  background: #d8990f;
  border: 2px solid #fff;
}

button:active {
  transform: scale(0.9);
}
button:focus {
  background: #d8990f;
  border: 2px solid #fff;
}
.MDJAminDiv {
  z-index: 4444;
  position: fixed;
  bottom: 5%;
  left: 2%;
}

.MDJAmin {
  text-decoration: none;
  /* border-bottom: 1px dashed rgb(204, 204, 204); */
  /* border-top: 1px dashed rgb(204, 204, 204); */
  border-bottom: 1px dashed rgb(44, 44, 44);
  border-top: 1px dashed rgb(44, 44, 44);
  padding: 4px 0;
  color: rgba(44, 44, 44, 0.525);
  /* color: rgba(204, 204, 204, 0.414); */
  font-family: monospace;
  font-style: italic;
  font-size: 1em;
  transition: all 0.5s;
}

.MDJAmin:hover {
  color: #000000;
  /* color: white; */
}
